body{
	background-color: #ddd;
	font-family: Arial;
	overflow: hidden;
}

h2 {
    text-align: center;
}

h1 {
	font-size: 56px;
	margin: 16px;
}

.name-prompt{
	position: absolute;
	float: right;
	top: 100px;
	left: 50%;
	margin-left: -200px;
	width: 400px;
	background-color: #eee;
	z-index: 2;
	padding: 10px;
}

.content{
	margin: 16px;
	white-space: nowrap;
	white-space-collapse: discard; 
	font-size: 0;
	display: flex;
}

.ranking{
	width: 20%;
	background-color: white;
	pointer-events: none;
    display: inline-block;
	position: relative;
	float: left;
}

.leaderboard{

}

.user-label{
	font-size: 14px;	
	color: #5e5e5e;
	display: inline-block;
}

.local-user-label{
	font-weight: bold;
}

.spacer{
    display: inline-block;
	width:5%;
	position: relative;
}

.arena{
	background-color: white;
	width: 50%;
	position: relative;
	vertical-align: middle;
}

.game-timer{
	text-align: center;
	color: #ff0000;
	font-size: 36px;
}

.timer-container{
	width:20%;
	height:56px;
	margin: 16px auto;
	position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.game-grid-container{
	display: flex;
	justify-content: center;
	align-items: center; 
	width: 80%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

.game-grid{
	width: 60%;
	height: 60%;
	margin: 0 auto;
	position: relative;
}

.game-grid-item{
	color: #ccc;
	font-size: 48px;
	text-align: center;
	font-weight: bold;
	border: 4px solid #eee;
	padding: 8px;
}

.wordform{
	width: 300px;
	margin: 0 auto;
	position: absolute;
	bottom: 24px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.error-message{
	width: 100%;
	color: #ff0000;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
    transform: translate(0%, -150%);
}

.score-board{
	width: 20%;
	background-color: white;
	pointer-events: none;
    display: inline-block;
	position: relative;
	float: right;
}

.word-label{
	font-size: 14px;	
	color: #5eFF5e;
	display: inline-block;
}

.wrong-word-label{
	text-decoration: line-through;
	color: #666666;
}